body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
   font-size: 50px; 
   text-align: left;
   color: blueviolet;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.purple{
    color:purple;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 5%;
    align: justify;

}
.half-width img{
    width:90%
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(cyan, blue);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    border-radius: 50px;
}
.background-image{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}